<html>
<head>
    <title>All the Cars</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
        {% if autos is not empty %}
        <h1>All the Cars Here:</h1>
        {% for auto in autos %}
        <ul>
            <li><strong>{{ auto.getModel }}</strong></li>
            <img src='{{ auto.getPicture }}' class='img-rounded'>
            <ul>
                <li>${{ auto.getPrice }}</li>
                <li>Miles: {{ auto.getMiles }}</li>
            </ul>
        </ul>
        {% endfor %}
        {% else %}
            <p><em>There are no cars on the lot</p></em>
        {% endif %}
        <form action='delete_cars' method='post'>
            <button type='submit'>clear the lot</button>
        </form>
        <p><a href='/'>home</a></p>
    </div>
</body>
</html>
