<html>
<head>
    <title>Empty the Lot</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
        <h1>You've taken all the cars you listed off the lot</h1>
        <p><a href='/'>home</a></p>
    </div>
</body>
</html>
