<html>
<head>
    <title>List a Car</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
</head>
<body>
    <div class='container'>
        <h2>Your car has been added to our lot!</h2>
        <h3>Details:</h3>
        <li><strong>{{ list_car.getModel }}</strong></li>
            <ul>
            <li>${{ list_car.getPrice }}</li>
            <li>Miles: {{ list_car.getMiles }}</li>
        </ul>
        <br>
        <p><a href='/all_cars'>View All Cars</a></p>
        <p><a href='/'>home</a></p>
    </div>
</body>
</html>
